:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  padding-bottom: 10px;
  width: 1000px;
}

img {
  width: 1000px;
  padding-top: 30px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

p {
  width: 1000px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
