h1 {
  color: black;
  font-size: 2em;
  line-height: 1.1;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 1000px;
}
h1:hover {
  color: blue;
}

a {
  text-decoration: none;
}

img {
  padding-top: 30px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

p {
  width: 1000px;
  line-height: 1.6;
}
